<p>
  home works!
</p>
<button (click)="loadFirstPageOfUsers()">Get All Users</button>

<button (click)="clearUsers()">Clear Users</button>

<br>

@if (users && users!.length > 0) {
  <br>
  <table>
    <tr>
      <td> ID</td>
      <td> USERNAME</td>
      <td> NAME</td>
      <td> PHONE</td>
    </tr>
    @for (user of users; track trackIdentity) {
      <tr>
        <td> {{ user.id }}</td>
        <td> {{ user.username }}</td>
        <td> {{ user.name }}</td>
        <td> {{ user.phone }}</td>
        <td><a [routerLink]="['/view']"> Details </a></td>
      </tr>
    }
  </table>
  @if (page > 0) {
    <button (click)="previousPage()"> Previous page</button>
  }

  @if (showNextPage()) {
    <button (click)="nextPage()">Next Page</button>
  }

}
